body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 255, 255, .1);
    font-family: monospace;
    color: blueviolet;
}

.conatiner {
    background: rgba(0, 25, 55, .1);
    box-shadow: 0 2px 3px rgba(0, 25, 55, .8);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.heading {
    font-size: 25px;
    letter-spacing: 1px;
    border-bottom: 2px solid cyan;

}

.temp-container {
    width: 100%;
    padding: 15px;
    font-family: cursive, sans-serif;
    color: #000;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(22, 44, 66, .5);
}

.input {
    width: 60%;
    padding: 5px;
    float: right;
    outline: none;
    background-color: rgba(255, 69, 0, .15);
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 17px;
}

