body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgba(0, 255, 255, .1);
}
.container {
    text-align: center;
}

h1{
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    background: rgb(0, 0, 0, .7);
    padding: 10px 12px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    white-space: nowrap;
}
.btn{
    padding: 30px 50px;
    background-color: #fff;
    border: none;
    border: none;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    background-image: url("images/drum.png");
    background-size: cover;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3s);
    cursor: pointer;
    text-transform: capitalize;
}
.btn:hover{
    color: cyan;
}
.btn:active{
    background-size: 105%;
}