body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color:  rgba(138, 43, 226, .2);
    font-family: 'Courier New', Courier, monospace;

}
.container {
    background-color: rgba(255, 235, 205, .7);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    margin: 8px;
}

.heading {
    font-size: 25px;
}

p {
    font-size: 18px;
    font-weight: 700;
}

.input,
#bmi-result
 {
    padding: 10px 20px;
    font-size: 17px;
    background: rgba(0, 255, 255, .1);
}

.btn{
    border: 2px solid rgba(144, 238, 255, .7);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgreen;
    width: 50%;
    font-weight: 700;
    font-size: 20px;
    margin: 20px auto;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.infor-text {
    font-size: 20px;
    font-weight: 500;
}

#weight-condition {
    background-color: white;
    padding: 8px;
    margin-left: 5px;
    border-radius: 6px;
    border: 1px solid cyan;
}